/* https://www.color-hex.com/color/ffc361  marron
https://www.color-hex.com/color/85c84f  verde */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul, a {
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background: #f6f0e9;
}

.header{
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(
  rgba(93, 140, 55, .2),
  rgba(7, 17, 10, .5),
  rgba(246, 240, 233, .2)
  ),url(images/papa1.jpg); /*--------Imagen con degradado encima---------*/
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  transition: 1s;
}

.logo img{
  height: 50px;
}

/* -------------------------------------------------Menu */

nav{
  width: 100%;
  position: fixed;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
}

.nav1{
  background-color: #273c17;
  height: 50px;
}

.contenedor-nav{
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  height: inherit;
  overflow: hidden;
}

.nav1 li a{
  color: #fff;
  background-color: #273c17;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  padding: 10px 38px;
}

.nav1 .enlaces ul{
  display: flex;
  flex-wrap: wrap;
}

.enlaces ul li a:hover {
  background-color: #5d8c37;
}
/* ---------------Oculto--------------------- */
.enlaces ul li>ul {
  position: absolute;
  top: 150%;
  visibility: hidden;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  display: flex;
  flex-direction: column;
}

.enlaces ul li>ul a{
  display: block;
}

.enlaces ul li:hover>ul {
  position: absolute;
  opacity: 1;
  top: 100%;
  visibility: visible;
}
/* ------------------------------------ */
.icono{
  display: none;
  font-size: 24px;
  padding: 23.5px 5px 20px;
}

.textos{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  overflow: hidden;
  text-align: center;
}

.textos>h1{
  font-size: 70px;
}
.textos>h2{
  font-size:35px;
}

/* -------------------------------------------------Articulos */

.conten-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  margin-bottom: 2rem;
  background: #FFF;
  margin: 25px;
  width: 35%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.box2 {
  width: 60%;
}

.image.fit {
  height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image.fit2 {
  height: 450px;
}

.image.fit img {
  width: 90%;
  height: 90%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.box header h2 {
  margin-bottom: 2rem;
}

.align-center{
  display: block;
  text-align: center;
}

.align-center p{
  text-transform: uppercase;
  font-size: .75rem;
  margin: 0 0 .25rem 0;
  padding: 0 0 .75rem 0;
  letter-spacing: .25rem;
}

.content > p{
  font-size: 1.2rem;
  margin: 0 0 .25rem 0;
  padding: 0 0 .75rem 0;
}

.box .content {
  padding: 2.5rem;
}

.button {
  color: #000;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15);
  display: inline-block;
	font-weight: 300;
	height: 2.85rem;
	line-height: 2.95rem;
	padding: 0 1.5rem;
}

.button:hover{
  background: rgba(0, 0, 0, 0.10);
}

/* -------------------------------------------------Footer */

footer {
  padding: 4rem 0 2rem 0;
  background: #07110a;
  text-align: center;
}

footer a {
  color: rgba(255, 255, 255, 0.5);
  padding: 20px;
}

footer i {
  font-size: 25px;
}

footer a:hover {
  color: #FFF;
}

footer .copyright {
  color: #bbb;
  text-align: center;
  padding-top: 20px;
}

@media screen and (max-width: 700px){
  
  .nav1 li a{
    padding: 10px 20px;
  }

  .conten-box{
    flex-direction: column;
    align-content: center;
  }

  .box{
    width: 70%;
  }

}

@media screen and (max-width: 580px){

  .nav1{
    color: #fff;
  }

  .icono{
    display: block;
    cursor: pointer;
  }

  .enlaces{
    position: fixed;
    top:50px;
    background: #07110a;
    left: 0;
    height: 100%;
    transition: 1s;
    width: 0;
    overflow: hidden;
  }

  .nav1 .enlaces ul{
    flex-direction: column;
    justify-content: center;
  }

  .enlaces ul li a{
    display: block;
    width: 100%;
    height: 50px;
    padding: 20px;
    text-align: center;
    background: #273c17;
    color:#fff;
  }

  /* ---------------Oculto--------------------- */
.enlaces ul li>ul {
  position: absolute;
  /* left: 9%; */
  top: 40%;
}

.enlaces ul li:hover>ul {
  position: absolute;
  /* left: 9%; */
  top: 32%;
  width: 100%;
}
/* ------------------------------------ */

  body {
    font-size: 17px;
  }

  .content > p{
    font-size: 17px;
  }

  .align-center p{
    font-size: .60rem;
  }

  footer p{
    font-size: 15px;
  }

}