/* https://www.color-hex.com/color/ffc361  marron
https://www.color-hex.com/color/85c84f  verde */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ol, ul, a{
    list-style: none;
    text-decoration:none;
	}

  body{
    font-family: 'Open Sans', sans-serif;
    background: #f6faf4;
    margin:auto;
    width: 85%;
  }
  
  #header {
    margin:auto;
  }
  
  .nav {
    display: flex;
    text-align: center;
  }

  .nav li {
    width: 100%;
  }
  
  .nav li a {
    background-color:#273c17;
    color:#fff;
    padding:10px 12px;
    display:block;
  }
  
  .nav li a:hover {
    background-color:#5d8c37;
  }
  
  .nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
  }
  
  .nav li:hover > ul {
    display:block;
  }
  
  .nav li ul li {
    position:relative;
  }
  
  .nav li ul li ul {
    right:-140px;
    top:0px;
  }

  .conten-box{
    display: flex;
  }

/* -------------------------------------------------box */

  .box {
		margin-bottom: 2rem;
    background: #FFF;
    margin: 0.5rem;
    width: 50%;
	}

  .image.fit img {
    width: 100%;
    border-radius: 0.5rem;
  }
		.box header h2 {
			margin-bottom: 2rem;
		}

		.box header p {
			text-transform: uppercase;
			font-size: .75rem;
			font-weight: 300;
			margin: 0 0 .25rem 0;
			padding: 0 0 .75rem 0;
			letter-spacing: .25rem;
    }
    
		.box .content {
			padding: 3rem;
		}

			